<div class="container-fluid">
  <div id="inSlider" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      
      <div class="item active text-center" style="background-image: url('https://jaeby99.github.io/Paiclab/static/assets/img/landing/header.jpg'); height:100%;">
        <div class="carousel-caption"></div>
        <p>Private Aritificial Intelligence and Cryptography Lab</p>
      </div>

      
    </div>
  </div>
</div>
