<div class="container-fluid">
  <div id="inSlider" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#inSlider" data-slide-to="0" class="active"></li>
      {% for banner in site.data.index.banners offset:1 %}
        <li data-target="#inSlider" data-slide-to="{{ forloop.index }}"></li>
      {% endfor %}
    </ol>

    <div class="item active" style="background-image: {{ '/static/assets/img/' | prepend: site.baseurl }}{{ site.data.index.banners[0].src }};">
      <h2 style="font-size: 80px; font-family: 'Courier New', Courier, monospace;">
          <span>Private Artificial Intelligence and Cryptography Lab</span>
      </h2>
    </div>
  </div>
</div>
