---
layout: blog
title: Courses
permalink: /courses/
---

<div class="row">
	<div class="col-lg-12 col-b-6 text-center">
		<div class="navy-line"></div>
		<h1 style="padding-bottom:50px">Courses</h1>
	</div>
</div>
<div class="container">
	{% for course in site.data.lab.courses %}
	<div class="row" style="align-items: start;">
		{% if course.set == 1 %}
		<div class="col-1">
			<p style="font-size:32px"><U>{{ course.year course.semester }}</U></p>
		</div>
		{% endif %}
		<div class="col-lg-10 mt-lg-offset-4" style="padding-bottom: 30px;">
			<p sytle="font-size:20px">⏩ {{ course.title }}</p>
		</div>
	</div>
	{% endfor %}
</div>
