---
layout: blog
title: People
permalink: /people/
---

<div class="row">
	<div class="col-lg-12 col-b-lg text-center">
		<div class="navy-line"></div>
		<h1 style="font-family: 'Courier New', Courier, monospace; font-size:40px;">People</h1>
	</div>
</div>

<div class="container">
	{% for person in site.data.lab.people %}
	{% if person.order == 1 %}
	<div class="row m-t-lg m-b-lg grey section" style="padding-left: 100px;">
		<h3 style="font-size:36px"><U>{{ person.degree }}</U></h3>
	</div>
	{% endif %}
	<div class="row-lg-6" style="display:flex; align-items: start; padding-left: 100px;">
		<div class="col">
			<img src="{{ person.img }}" width=165px, height=220px style="margin: right 30px;", alt=""></img>
		</div>
		<div class="col" style="padding-left:60px">
			<div class="row">
				<h4 style="font-size:28px"><br>{{ person.name }}<br></h4>
			</div>
			<div class="row m-t-lg">
				<p style="font-size:18px"><br/> {{ person.date }}<br> Research Area: {{ person.research }}<br> Email: {{ person.email }}</p>
			</div>
		</div>
	</div>
	<hr/>
	{% endfor %}
</div>