---
layout: blog
title: People
permalink: /people/
---

<div class="row">
	<div class="col-lg-12 col-b-6 text-center">
		<div class="navy-line"></div>
		<h1 style="padding-bottom:50px">People</h1>
	</div>
</div>

<div class="container">
	{% for person in site.data.lab.people %}
	<div class="row">
		{% if person.order == 1 %}
		<div class="col mt-lg-offset-6" style="padding-bottom:20px">
			<h3 style="font-size:36px"><U>{{ person.degree }}</U></h3>
		</div>
		{% endif %}
		<div class="col-lg-16 mt-lg-offset-6" style-="padding-bottom: 20px; display:flex; align-items:start;">
			<img src="{{ person.img }}" width=165px, height=220px style="margin: right 30px;", alt=""></img>
			<div class="col-lg-8">
				<div class="row">
					<h4 style="font-size:28px"><br>{{ person.name }}<br></h4>
				</div>
				<div class="row" style="padding-top:28px;">
					<p style="font-size:16px"><br/> {{ person.date }}<br> Research Area: {{ person.research }}<br> Email: {{ person.email }}</p>
				</div>
			</div>
		</div>
	</div>
	<hr/>
	{% endfor %}
</div>