---
layout: blog
title: Publications
permalink: /publications/
---

<div class="row">
	<div class="col-lg-12 col-b-lg text-center">
		<div class="navy-line"></div>
		<h1 style="font-family: 'Courier New', Courier, monospace;">Publications</h1>
	</div>
</div>

<div class="container">
	{% for paper in site.data.lab.publications %}
	<div class="row">
		{% if paper.set == 1 %} 
		<div class="col mt-lg-offset-6" style="padding-bottom:20px">
			<h3 style="font-size:36px"><U>{{ paper.year }}</U></h3>
		</div>
		{% endif %}
		<div class="col-lg-16 mt-lg-offset-6" style="padding-bottom: 20px">
			<h4 style="font-size:20px">
				<a href="{{ paper.ref }}">
					<U>
						<strong>{{ paper.title }}</strong>
					</U>
				</a>
			</h4>
			<p style="font-size:16px">
			{{ paper.author }},
			<em>{{ paper.conference }}</em>,
			{{ paper.month }} {{ paper.year }}
			</p>
		</div>
	</div>
	<hr/>
	{% endfor %}
</div>
