---
layout: blog
title: Publications
permalink: /publications/
---

<div class="row">
	<div class="col-lg-12 col-b-6 text-center">
		<div class="navy-line"></div>
		<h1 style="padding-bottom:50px">Publications</h1>
	</div>
</div>

<div class="row">
	<div class="col col-lg-offset-3">
		{% for paper in site.data.lab.publications %}
		<div class="row" style="padding: top 40px;">
			{% if paper.set == 1 %} 
			<div class="col mt-lg-offset-2" style="padding-bottom:20px">
				<h3 style="font-size:40px"><U>{{ paper.year }}</U></h3>
			</div>
			{% endif %}
			{% assign loopindex = forloop.index | modulo: 2 %}
			<div class="col-lg-10 mt-lg-offset-4">
				<div class="row">
					<h4 style="font-size:20px">
						<a href="{{ paper.ref }}">
							<U>
								<strong>{{ paper.title }}</strong>
							</U>
						</a>
					</h4>
					<p style="font-size:16px">
					{{ paper.author }},
					<em>{{ paper.conference }}</em>,
					{{ paper.month }} {{ paper.year }}
					</p>
				</div>
			</div>
		</div>
		<hr/>
		{% endfor %}
	</div>
</div>
